@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

@import "./reset.css";
@import "./variable.css";
@import "./nevigation-bar.css";
@import "./media-query.css";

* {
    box-sizing: border-box; /*모든 요소를 화면 안에 포함시킴*/
}
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background-purple);
    color: white;
}
input {
    border: none;
    outline: none;
    appearance: none;
}
.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.position-relative {
    position: relative;
}
.material-icons-outlined {
    font-size: 18px;
}
