.navigation-bar{
    background-color: rgba(225, 225, 225, 0.5);/*투명도 50% 조절*/
    width: 8rem;
    height: 3rem;
    border-radius: - 10px 0 0;
    display: flex;
    justify-content: space-around; /*컨테이너 내에 균등하게 분포*/
    align-items: center;
    position: fixed;
    bottom: 0; /*화면에서 가장 아래로 위치시킴, 아래로 부터 0만큼 덜어짐*/
}
.navigation-bar span {
    color: black;
    font-size: 1.5rem;
}
.icon-click {
    font-weight: 600;
    border: solid 1px rgb(199, 186, 212);
    border-bottom: solid 5px rgb(199, 186, 212);
}