@media (max-width: 1280px) {
    body {
        background-color: pink;
    }
}
@media (max-width: 800px) {
    body {
        background-color: rgb(45, 34, 60);
    }
}

html,
body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    width: 310px;
    height: 50px;
    background-color: #aa538f;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 1s ease-in-out;
}
header:hover {
    transform: rotate(180deg) scale(0.5) translateX(50PX);
    background-color:#dfffde;
}
main {
    display: flex;
}
nav {
    width: 100px;
    height: 200px;
    background-color: #c592a0;
    border-radius: 10px;
    margin-right: 10px;
    transition: 500ms linear;
}
nav:active {
    background-color: rgb(45, 34, 60);
}
article {
    width: 200px;
    height: 200px;
    background-color: #ffe48d;
    border-radius: 10px;
    animation: mymove 3s infinite;
}
@keyframes mymove {
    0% {
        transform: rotate(90deg)
    }
    25% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(270deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
footer {
    width: 310px;
    height: 50px;
    background-color: #93dbff;
    border-radius: 10px;
    margin-top: 10px;
    animation: mymove 3s infinite;
}
@keyframes mymove {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}